button {
  cursor: pointer;
}

.home {
  padding: 56px 20px;
	width: 75vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.generated {
  font-weight: 500;
  font-size: 26px;
	margin: 64px 0;
}

.generateButton {
  margin-top: 32px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #70497c;
  color: #fff9e8;
  font-size: 26px;
}

.instructions {
  list-style: circle;
  margin: 16px 0 0 0;
  padding-inline-start: 16px;
}

.linkButton {
  background: none;
  border: none;
  padding: 4px;
  color: #501b74;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin-top: 16px;
}

.linkButton,
.generateButton {
  display: block;
}

.definitionWrapper {
  position: fixed;
  top: 80px;
  bottom: 8px;
  right: 8px;
  width: 400px;
  border: 2px solid #501b74;
  z-index: 5;
  background: white;
  border-radius: 4px;
  padding: 8px;
  overflow-y: auto;
}

.definition {
  font-size: 18px;
  font-weight: normal;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.closeButton:hover {
  background: rgba(0, 0, 0, 0.15);
}

.extraInfo {
	text-align: left;
}

.history {
	margin-top: 32px;
}

.right {
	margin-left: auto;
	text-align: right;
}

@media screen and (max-width: 500px) {
  .generated {
    line-height: 54px;
  }
  .home {
		width: 100%;
		margin: 0;
    padding: 32px;
  }
  .generateButton,
  .linkButton {
    width: 100%;
  }

  .definitionWrapper {
    position: fixed;
    top: auto;
    bottom: 8px;
    left: 8px;
    right: 8px;
    z-index: 5;
  }

  .definition {
    height: 150px;
    width: auto;
  }
}
